<style>
/* Основные стили */
.tnb-container {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст для контраста */
}

.tnb-section.tnb-top {
    background-color: black;
    color: white;
}

/* Стили для социальных иконок */
.tnb-social-links {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Расстояние между иконками */
}

.tnb-footer-social-link img {
  width: 30px; /* Задаем начальный размер иконки */
  height: 30px;
  transition: all 0.3s ease; /* Плавный переход при изменении размера */
}

/* Мобильные стили */
@media (max-width: 768px) {
  .tnb-footer-social-link img {
    width: 20px; /* Уменьшаем иконки на планшетах */
    height: 20px;
  }

  .tnb-home-hero-float-5 {
    width: 10vw; /* Уменьшаем ширину видео на планшетах */
  }

  .tnb-home-hero-float-6 {
    width: 30vw; /* Уменьшаем ширину видео на планшетах */
  }
}

@media (max-width: 480px) {
  .tnb-footer-social-link img {
    width: 15px; /* Еще уменьшаем иконки для смартфонов */
    height: 15px;
  }

  .tnb-home-hero-float-5 {
    width: 2vw; /* Уменьшаем ширину видео на смартфонах */
  }

  .tnb-home-hero-float-6 {
    width: 20vw; /* Уменьшаем ширину видео на смартфонах */
  }
}

/* Анимация */
.tnb-simple-reveal {
  opacity: 0; /* Начальное состояние - невидимый элемент */
  animation: fadeIn 1s ease-in-out 2s forwards; /* 1s - длительность анимации, 2s - задержка */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Видео */
.tnb-home-hero-float-5 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;
  width: 20vw;
  height: 30vh;
  object-fit: cover;
}

.tnb-home-hero-float-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 20vw;
  height: 30vh;
  object-fit: cover;
  z-index: -1000;
}

/* Стили для обертки социальных иконок */
.tnb-social-links-1 {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  z-index: 1000;
}

.tnb-footer-social-link-1 img {
  width: 30px; /* Задаем начальный размер иконки */
  height: 30px;
  transition: all 0.3s ease; /* Плавный переход при изменении размера */
}

/* Мобильные стили */
@media (max-width: 768px) {
  .tnb-footer-social-link-1 img {
    width: 10px; /* Уменьшаем иконки на планшетах */
    height: 10px;
  }

 

@media (max-width: 480px) {
  .tnb-footer-social-link-1 img {
    width: 5px; /* Еще уменьшаем иконки для смартфонов */
    height: 5px;
  }

html {
  scroll-behavior: smooth;
}
</style>

<div data-is-ix2-target="1" class="tnb-simple-reveal">
  <img src="https://media.githubusercontent.com/media/Sijic/sijicbond/master/sijicbond.png" alt="sijicbond" width="40" height="40" style="width: 100%; height: 100%;">
</div>
